In [ ]:
#Activity 4- group by month and time and get the maximum wind direction in degrees
#predefined Start
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

df = pd.read_csv('https://shravantihable.github.io/AA/2015_Air_quality_in_northern_Taiwan.csv')
df

df['month'] = pd.DatetimeIndex(df['time']).month
df['time_hours'] = pd.DatetimeIndex(df['time']).time
df

df.replace( '', float('nan') ,inplace=True)
df.replace( '0', float('nan') ,inplace=True)
df.replace('.#$', float('nan') ,inplace=True, regex=True)
df.replace('.x$', float('nan') ,inplace=True, regex=True)
df = df.dropna()
df
#predefined end


#define a variable new_dataframe, group the values of month and time_hours column using groupby() function, add one more column [''WIND_DIREC''] and using the '.' operator access the max function and reset the index to 0.
new_dataframe = df.groupby(['month','time_hours'])['WIND_DIREC'].max().reset_index()
#print the variable new_dataframe 
new_dataframe

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10,14,18) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

     month time_hours WIND_DIREC
0        1   05:00:00        255
1        1   06:00:00        325
2        1   07:00:00         89
3        1   08:00:00         99
4        1   09:00:00         89
..     ...        ...        ...
159     12   13:00:00         91
160     12   14:00:00         88
161     12   15:00:00         97
162     12   16:00:00         95
163     12   17:00:00         87

[164 rows x 3 columns]