In [ ]:
#Additional Activity 4

#Note: before coding for this activity, click on the run button, to get the dataframe table
#plotting the histogram for the cabin crew members of different age groups who survived. 
#predefine code
#import the required packages 
import pandas as pd
import matplotlib.pyplot as plt
#Read the csv file.
df = pd.read_csv("https://shravantihable.github.io/AA/titanic_crew_info.csv")
df
df = df.dropna()
df
new_df = df.loc[df['Survived'] == 1.0]
new_df
#predefine code ends

#setting the size of figure - using the plt.figure() function set the figsize by taking the width and height of your choice.

#using the plt.hist() function, plot the histogram for the cabin crew members, for this set the below parameters inside the plt.hist() function
#access the 'Age' column of new_df data frame, then add the '.' operator and access the head() function to get the first 50 crew members
#set the bins upto 10 range
#set the label as 'Age'

#using the plt.title() function give the title to graph plot.

#using the plt.ylabel() function give the label to y-axis of graph plot.

#using the plt.xlabel() function give the label to x-axis of graph plot.

#using the plt.legend() function set the legend to the graph.

plt.show()