<a href="https://colab.research.google.com/github/aparnachadha/AAs/blob/main/ADV_C196_1(Solution).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Additional Activity 1
#Count all the total number of female and male passengers on the Titanic ship.
#predefine code start
#import the required packages 
import pandas as pd
import matplotlib.pyplot as plt
#Read the csv file.
df = pd.read_csv("https://shravantihable.github.io/AA/Titanic.csv")
df
#predefine code ends

#remove the rows having the NaN values: 
#for this use the df variable which holds the dataframe, access the dropna() function using the '.' operator and again store it in variable df.
df = df.dropna()

#check the people who survived the Titanic disaster:
#For this use the df variable and access the loc[] function, inside the square brackets access the column 'Survived' of data frame df and check the values are equal to 1.Store it in data frame new_df.
new_df = df.loc[df['Survived'] == 1]
#print the variable new_df
new_df
#groupby the gender column and count the passengers from 'PassengerId' column:
#for this use the new_df data frame and apply the groupby() function on 'Gender' column and another column ['Passenger'] and on this apply count() function  to count the male and female passangers and reset the index to 0 and store it in variable groupby_gender.
groupby_gender = new_df.groupby('Gender')['PassengerId'].count().reset_index()
#print the variable groupby_gender
groupby_gender

   Gender  PassengerId
0  female           82
1    male           41