In [ ]:
#Additional-Activity 1
#Fetch the months from Date column and add a new column
#Group by Events column and find the maximum accurance of an event in a month 

#predefine code
import pandas as pd
import matplotlib.pyplot as plt 

df = pd.read_csv('https://shravantihable.github.io/AA/austin_weather.csv')
df
#predefine code ends

#using the pd.DatetimeIndex() function, fetch the month from the 'Date' column. Do this by writing the df['Date'] inside pd.DatetimeIndex() function and store it in a variable df['month'].
df['month'] = pd.DatetimeIndex(df['Date']).month
#print variable df
df

#apply the groupby functionality on 'Events' column, add a column 'month' and apply max functionality on it, and reset the index to 0.
group_by_month = df.groupby('Events')['month'].max().reset_index()
#print the variable group_by_month
group_by_month

                      Events  month
0                                12
1                        Fog     12
2                 Fog , Rain     12
3  Fog , Rain , Thunderstorm     11
4         Fog , Thunderstorm      4
5                       Rain     12
6                Rain , Snow      1
7        Rain , Thunderstorm     12
8               Thunderstorm     10